*{
    padding: 0%;
    margin: 0%;
    font-family: 'Poppins', sans-serif;
}
.carousel-item img{
    width: 100%;
    height: 80vh;
}
.row{
    text-align: center;
    padding-left: 5%;
}

.footer{
    background-color: black;
    color: white;
    padding: 5px;
    text-align: center;
    margin: auto;
}
.footer p{
    padding-top: 12px;
}
